@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --Light-red-CTA-text: hsl(356, 100%, 66%);
    --Very-light-red-CTA-hover-background: hsl(355, 100%, 74%);
    --Very-dark-blue-headings: hsl(208, 49%, 24%);
    --White-text-: hsl(0, 0%, 100%);
    --Grayish-blue-footer-text: hsl(240, 2%, 79%);
    --Very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
    --Very-dark-black-blue-footer-background: hsl(240, 10%, 16%);
    --Very-light-red: hsl(13, 100%, 72%);
    --Light-red: hsl(353, 100%, 62%);
    --Very-dark-gray-blue: hsl(237, 17%, 21%);
    --Very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--Light-red);
    width: 100%;
    padding: 80px 0px 160px 0px;
    background-image: url("./images/bg-pattern-intro-desktop.svg");
    background-size: cover;
    background-position: center center;
}

nav {
    max-width: 1165px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.706);
    display: inline-block;
    margin: 15px;
}

.brand {
    margin-right: 55px;
}

.sign-up {
    padding: 20px 40px;
    background-color: rgb(255, 255, 255);
    color: var(--Light-red);
    font-weight: 700;
    border-radius: 50px;
}

.hero {
    margin-top: 150px;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 64px;
    margin-bottom: 25px;
}

.hero p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.706);
    margin-bottom: 55px;
}

.hero a {
    display: inline-block;
    /* width: 145px; */
    color: var(--Light-red);
    background-color: white;
    padding: 15px 20px;
    border-radius: 50px;
    margin: 0px 10px;
    text-decoration: none;
    font-weight: 700;
}

a#learn {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}
