@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --Light-red-CTA-text: hsl(356, 100%, 66%);
    --Very-light-red-CTA-hover-background: hsl(355, 100%, 74%);
    --Very-dark-blue-headings: hsl(208, 49%, 24%);
    --White-text-: hsl(0, 0%, 100%);
    --Grayish-blue-footer-text: hsl(240, 2%, 79%);
    --Very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
    --Very-dark-black-blue-footer-background: hsl(240, 10%, 16%);
    --Very-light-red: hsl(13, 100%, 72%);
    --Light-red: hsl(353, 100%, 62%);
    --Very-dark-gray-blue: hsl(237, 17%, 21%);
    --Very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    width: 100%;
}

header {
    border-radius: 0px 0px 0px 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--Light-red-CTA-text);
    width: 100%;
    padding: 80px 25px 160px 25px;
    background-image: url("./images/bg-pattern-intro-desktop.svg");
    background-size: 200%;
    background-position-y: -1600px;
    background-position-x: -400px;
}

nav {
    max-width: 1165px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.706);
    display: inline-block;
    margin: 15px;
}

.brand {
    margin-right: 55px;
}

.sign-up {
    padding: 20px 40px;
    background-color: rgb(255, 255, 255);
    color: var(--Light-red);
    font-weight: 700;
    border-radius: 50px;
}

.hero {
    margin-top: 150px;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 64px;
    margin-bottom: 25px;
}

.hero p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 55px;
}

.hero a {
    display: inline-block;
    /* width: 145px; */
    color: var(--Light-red);
    background-color: white;
    padding: 15px 20px;
    border-radius: 50px;
    margin: 0px 10px;
    text-decoration: none;
    font-weight: 700;
}

a#learn {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

a#learn:hover {
    background-color: white;
    color: var(--Light-red);
}

.hero-btn a:hover {
    background-color: var(--Very-light-red-CTA-hover-background);
    color: white;
}

a.sign-up:hover {
    background-color: var(--Very-light-red-CTA-hover-background);
    color: white;
}

.first-section {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.first-section h3 {
    margin-bottom: 30px;
    color: var(--Very-dark-grayish-blue-body-copy);
    font-size: 30px;
}

.first-section p {
    line-height: 1.5;
    margin-bottom: 85px;
    color: var(--Very-dark-grayish-blue-body-copy);
    font-size: 18px;
}

.first-section h2.section-heading {
    position: relative;
    top: 135px;
    font-size: 40px;
    color: var(--Very-dark-blue-headings);
    margin-bottom: 85px;
}

.first-section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1165px;
}

.first-section .container .inner-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first-section .right {
    width: 50%;
    position: relative;
    right: -300px;
}

.first-section .left {
    width: 50%;
}

/* Section section */

.second-section {
    padding: 0px 25px;
    background-color: var(--Very-dark-gray-blue);
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 100px 0px 100px;
    background-image: url("./images/bg-pattern-circles.svg");
    background-position-y: -550px;
    background-repeat: no-repeat;
    background-position-x: 30px;
}

.second-section .container {
    max-width: 1165px;
}

.second-section .inner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-section h2 {
    font-size: 40px;
    margin-bottom: 40px;
    color: white;
}

.second-section p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 2;
}

.third-section {
    padding: 0px 25px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.third-section .container {
    max-width: 1165px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.third-section .inner-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.third-section .right {
    width: 50%;
}

.third-section .left{
    width: 50%;
    position: relative;
    left: -650px;
}

.third-section h3 {
    margin-bottom: 30px;
    color: var(--Very-dark-grayish-blue-body-copy);
    font-size: 30px;
}

.third-section p {
    line-height: 1.5;
    margin-bottom: 85px;
    color: var(--Very-dark-grayish-blue-body-copy);
    font-size: 18px;
}

footer {
    border-radius: 0px 100px 0px 0px;
    padding: 80px 0px;
    background-color: var(--Very-dark-black-blue-footer-background);
}

footer .container {
    padding: 0px 25px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1165px;
}

footer .container h4 a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 30px;
}

footer ul li a {
    margin: 10px 0px 10px 0px;

}

.dropdown {
    position: relative;
}

.drop-link::after {
    content: url("./images/icon-arrow-light.svg");
    margin-left: 10px;
}

.drop-content ul {
    display: none;
}

.dropdown:hover .drop-content ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    background-color: white;
    border-radius: 5px;
    width: 180px;
    padding: 25px;
    box-shadow:
  -0.8px -1.2px 5.3px rgba(0, 0, 0, 0.061),
  9.8px 14.8px 17.9px rgba(0, 0, 0, 0.081),
  66px 100px 80px rgba(0, 0, 0, 0.09);

}

.drop-content ul li {
    width: 100%;
}

.drop-content ul a {
    font-weight: 700;
    margin: 0px;
    font-size: 12px;
    padding: 10px 30px 10px 0px;
    color: rgb(154, 145, 145);
    display: inline-block;
}

.drop-content ul a:hover {
    color: var(--Very-dark-grayish-blue-body-copy);
}

.hamburger {
    display: none;
}

@media (max-width: 980px) {
    .nav-items {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero p {
        font-size: 20px;
    }

    .inner-section {
        flex-direction: column;
        width: 100%;
    }

    .first-section {
        padding: 0px 25px;
        margin-top: 125px;
        margin-bottom: 300px;
        text-align: center;
    }

    .container {
        width: 100%;
    }

    .first-section h2.section-heading {
        position: static;
    }

    .first-section .left {
        width: 100%;
    }

    .first-section .right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: static;
        order: -1;
    }

    .first-section .right img {
        content: url("./images/illustration-editor-mobile.svg");
    }


    .second-section {
        flex-direction: column;
        height: 670px;
        text-align: center;
        
    }

    .second-section .left img {
        position: relative;
        top: -140px;
        width: 100%;
    }

    .second-section .right {
        position: relative;
        bottom: 200px;
    }

    .second-section .right h2 {
        font-size: 40px;
    }

    .second-section .right p {
        font-size: 16px;
    }

    h3 {
        font-size: 32px;
    }

    .third-section {
        text-align: center;
    }

    .third-section .left {
        width: 100%;
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 70px;
    }

    .third-section .right {
        width: 100%;
    }

    .third-section .left img {
        content: url("./images/illustration-laptop-mobile.svg");

    }

    footer .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    footer .brand, footer .product, footer .Company {
        margin: 0px 0px 100px 0px;
    }

    footer {
        font-size: 24px;
    }

    footer .container h4 a {
        font-size: 24px;
    }

    .active .nav-items {
        padding: 30px;
        display: block;
        background-color: white;
        position: absolute;
        top: 70px;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        box-shadow:
  -0.8px -1.2px 5.3px rgba(0, 0, 0, 0.061),
  9.8px 14.8px 17.9px rgba(0, 0, 0, 0.081),
  66px 100px 80px rgba(0, 0, 0, 0.09);
    }

    .active .nav-items ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .active .nav-items a {
        color: var(--Very-dark-blue-headings);
        font-weight: 700;
        text-align: center;
        font-size: 21px;
    }

    .drop-link::after {
        content: url("./images/icon-arrow-dark.svg");
        margin-left: 10px;
    }

    nav {
        position: relative;
    }

    .dropdown:hover .drop-content ul {
        display: flex;
        position: static;
        flex-direction: column;
        background-color: white;
        border-radius: 5px;
        box-shadow: none;
    }

    .dropdown:hover .drop-content ul li {
        width: 100%;
    }

    .active .dropdown {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .active .drop-content {
        width: 100%;
        display: none;
    }

    .active .activate .drop-content {
        display: flex;
    }

    .active .nav-left .drop-content ul {
        width: 100%;
        background-color: rgba(128, 128, 128, 0.1);
    }

    .drop-content ul a {
        /* width: 100%; */
        font-weight: 700;
        margin: 15px;
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        color: rgb(154, 145, 145);
        display: inline-block;
    }

    .active .nav-items .nav-right {
        border-top: 2px solid rgba(128, 128, 128, 0.3);
        margin-top: 30px;
        padding-top: 30px;
    }

    .active a.sign-up {
        background-color: var(--Light-red);
        color: white;
    }

}